- name: Read master token
  slurp:
    src: "./node_token.txt"
  register: master_token_file
  delegate_to: localhost
  run_once: true
  become: no

- name: Set master_token fact
  set_fact:
    master_token: "{{ master_token_file.content | b64decode }}"
  delegate_to: localhost
  run_once: true

- name: Install K3s agent
  shell: |
    curl -sfL https://get.k3s.io | K3S_URL=https://{{ master_ip }}:6443 K3S_TOKEN={{ master_token }} sh -
  args:
    creates: /usr/local/bin/k3s
  become: yes