# Python cache
__pycache__/
*.pyc
*.pyo

# Ansible temporary files
*.retry
*.log
*.out

# Secret Master Node Token generated automatically
node_token.txt

# Ansible Vault files
*.vault

# Local inventory files
inventory/hosts.ini
inventory/hosts.yml
inventory/host_vars/*
inventory/group_vars/*

# Ignore any private keys accidentally added
*.pem
*.key

# Virtual environments
venv/
.env/
.envrc

# OS temporary files
.DS_Store
*.swp
*~